# /etc/systemd/system 
# unifi docker compose service

[Unit]
Description=Docker Compose Unifi-Controller Service
Requires=docker.service
After=docker.service network.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=REPLACELBPDATADIR/src/Docker
ExecStart=/usr/bin/docker-compose up -d --remove-orphans
ExecStop=/usr/bin/docker-compose down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target