{% extends 'pages/templates/adminBasePage.html.twig' %}

{% block body %}
<div class="wide">UniFi Controller</div>
<p><i>{{ trans('home.home_explanation') }}</i></p>

<a href="{{unifi_url}}" target="_blank" class="ui-btn" id="openui" data-inline="true">{{ trans('home.open_ui')}}</a>
{% endblock %}